<logos-container [hasOverlay]="false">
  <div class="contact-us">
    <logos-header></logos-header>
    <h1 class="font-effect-3d-float" [@slideInLeftOnEnter]>Contact Us</h1>
    <div class="top">
      <div class="left">
        <img src="assets/logo-full.PNG" />
      </div>
      <div class="right">
        <div class="info">
          <span class="lbl">Email</span>
          <span class="val">info@logosschoolpa.com</span>
        </div>
        <div class="info">
          <span class="lbl">Phone</span>
          <span class="val">717-701-0369</span>
        </div>
      </div>
    </div>
  </div>
</logos-container>
