<div class="nav-menu" [class.vertical]="vertical">
  <div
    class="menu-item font-effect-3d-float"
    [style.width.%]="menuItemWidthPct"
    mat-button
    *ngFor="let menuItem of menuItems"
  >
    <button
      *ngIf="!menuItem.externalLink"
      [routerLink]="menuItem.routerLink"
      mat-button
    >
      {{ menuItem.label }}
    </button>
    <a
      *ngIf="menuItem.externalLink"
      [href]="menuItem.externalLink"
      target="_blank"
      mat-button
    >
      {{ menuItem.label }}
    </a>
  </div>
</div>
