<div class="main-menu">
  <div
    class="menu-item"
    #aboutEl
    (mouseover)="submenu = 'ABOUT'"
    (mouseleave)="submenu = null"
  >
    <button
      mat-button
      class="main-menu-item"
      routerLink="/about"
      aria-label="About Us"
    >
      About Us
    </button>
    <div
      class="submenu"
      *ngIf="submenu === 'ABOUT'"
      [style.left.px]="aboutSubmenuLeft"
      [@openClose]="submenu === 'ABOUT' ? 'opened' : 'closed'"
    >
      <button
        mat-button
        routerLink="/about"
        [queryParams]="{ view: 'mission' }"
      >
        <span>Mission Statement</span>
      </button>
      <button
        mat-button
        routerLink="/about"
        [queryParams]="{ view: 'beliefs' }"
      >
        <span>Statement of Faith</span>
      </button>
      <button mat-button routerLink="/about" [queryParams]="{ view: 'vision' }">
        <span>Vision and Philosophy</span>
      </button>
      <!-- <button mat-button routerLink="/about" [queryParams]="{ view: 'faqs' }">
        <span>FAQs</span>
      </button> -->
    </div>
  </div>
  <div
    class="menu-item"
    #academicsEl
    (mouseover)="submenu = 'ACADEMICS'"
    (mouseleave)="submenu = null"
  >
    <button
      mat-button
      class="main-menu-item"
      routerLink="/academics"
      aria-label="Academics"
    >
      Academics
    </button>
    <div
      class="submenu"
      [style.left.px]="academicsSubmenuLeft"
      [@openClose]="submenu === 'ACADEMICS' ? 'opened' : 'closed'"
    >
      <a
        mat-button
        href="https://classicalchristian.org/what-is-cce/"
        target="_blank"
      >
        <span>Why Classical?</span>
      </a>
      <!-- <button
        mat-button
        routerLink="/academics"
        [queryParams]="{ view: 'classical' }"
      >
        <span>Why Classical?</span>
      </button> -->
      <button
        mat-button
        routerLink="/academics"
        [queryParams]="{ view: 'curriculum' }"
      >
        <span>Curriculum</span>
      </button>
      <!-- <button mat-button routerLink="/academics">
        <span>Instruction</span>
      </button> -->
      <a mat-button href="https://classicalchristian.org/" target="_blank">
        <span>Accreditation (ACCS)</span>
      </a>
      <!-- <button
        mat-button
        routerLink="/academics"
        [queryParams]="{ view: 'accreditation' }"
      >
        <span>Accreditation (ACCS)</span>
      </button> -->
    </div>
  </div>
  <div
    class="menu-item"
    #admissionsEl
    (mouseover)="submenu = 'ADMISSIONS'"
    (mouseleave)="submenu = null"
  >
    <button
      mat-button
      class="main-menu-item"
      routerLink="/admissions"
      aria-label="Admissions"
    >
      Admissions
    </button>
    <div
      class="submenu"
      [style.left.px]="admissionsSubmenuLeft"
      [@openClose]="submenu === 'ADMISSIONS' ? 'opened' : 'closed'"
      style.off
    >
      <button
        mat-button
        routerLink="/admissions"
        [queryParams]="{ view: 'tuition' }"
      >
        <span>Tuition</span>
      </button>
      <button mat-button routerLink="/contact">
        <span>Visit</span>
      </button>
      <!-- <button
        mat-button
        routerLink="/admissions"
        [queryParams]="{ view: 'enroll' }"
      >
        <span>Application</span>
      </button> -->
      <a
        mat-button
        href="/assets/docs/Logos School Enrollment Application 2022-2023.pdf"
        target="_blank"
        >Enroll</a
      >
    </div>
  </div>
  <div
    class="menu-item"
    #contactEl
    (mouseover)="submenu = 'CONTACT'"
    (mouseleave)="submenu = null"
  >
    <button
      mat-button
      class="main-menu-item"
      routerLink="/contact"
      aria-label="Contact Us"
    >
      Contact Us
    </button>
    <div
      class="submenu"
      [style.left.px]="contactSubmenuLeft"
      [@openClose]="submenu === 'CONTACT' ? 'opened' : 'closed'"
    >
      <button mat-button routerLink="/links">
        <span>Apply</span>
      </button>
      <button mat-button routerLink="/contact">
        <span>Volunteer</span>
      </button>
      <button mat-button routerLink="/donate">
        <span>Donate</span>
      </button>
    </div>
  </div>
</div>
