@import '~@angular/material/_theming';
@import '../../../common';

.accordion {
  display: flex;
  flex-direction: column;
  border: 1px solid mat-color($accent-palette, 50);
  border-radius: 20px;

  .row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .goal {
      display: flex;
      color: $primary-color;
      font-weight: 700 !important;
      @extend .primary-font;
      width: calc(100% - 64px);

      .number {
        @extend .font1-bold;
        margin-right: 8px;
      }
    }

    .goal.indent {}
  }

  .btn-trigger {
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    color: $primary-color;
    border-radius: 20px 20px 0 0;

    mat-icon {
      @include mat-icon-diameter(32px);
      color: mat-color($primary-palette, 800);
    }
  }

  .narrative {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    overflow: hidden;
    width: 100%;

    p.by {
      @extend .alt-font;
      margin-top: 0px;
      color: $primary-color;
      font-weight: 500 !important;
      color: mat-color($accent-palette, 900);
      //font-style: italic;
      width: 92%;
      line-height: 22px;
    }

    p {
      @extend .primary-font;
      width: 90%;
      color: #000;
    }
  }
}

@media only screen and (max-device-width: 1300px) {

  .accordion {
    .row {
      height: unset;

      .goal {
        line-height: 20px;
        font-size: 20px;
        text-align: left;
        width: 96%;
        padding: 5px 0;
        font-weight: 500 !important;

        .number {

          margin-right: 2px;
          font-weight: 700;
        }
      }
    }

    .btn-trigger {

      mat-icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .narrative {

      p.by {
        line-height: 15px;
        font-size: 15px;
        width: 98%;
        margin-left: 1%;
      }

      p {
        line-height: 18px;
        font-size: 15px;
      }
    }
  }
}
