<div class="navbar">
  <a class="nav-item contact" mat-button routerLink="/contact">
    <img src="/assets/graphics/contact.png" />
  </a>
  <a class="nav-item" mat-button routerLink="/links">
    <mat-icon>file_present</mat-icon>
  </a>
  <a
    class="nav-item fb"
    mat-button
    target="_blank"
    href="https://facebook.com/logosschoolpa"
  >
    <img src="/assets/graphics/fb.png" />
  </a>
  <a
    class="nav-item"
    mat-button
    target="_blank"
    href="https://instagram.com/logosschoolpa/"
  >
    <img src="/assets/graphics/ig.png" />
  </a>
  <a class="nav-item donate" mat-button routerLink="/donate">
    <img src="/assets/graphics/donate.png" />
  </a>
</div>
