<div class="mission" [class.splash]="splash">
  <p [@rotateInDownLeftOnEnter]>
    <span class="bold font-effect-emboss">Logos School,</span>
  </p>
  <p [@lightSpeedInOnEnter]>
    in faithful submission to <span class="bold">Scripture</span> and with
    deference to the authority granted therein to
    <span class="bold">parents</span> regarding the instruction of their
    children,
  </p>
  <p [@lightSpeedInOnEnter]>
    provides a
    <span class="bold">classical, Christ-centered</span> education designed to
    achieve academic excellence and instill a life-long love of learning
  </p>
  <p [@lightSpeedInOnEnter]>
    through enthusiastic affirmation of the
    <span class="bold">Christian worldview</span> as the foundation for
    knowledge, virtue, and beauty,
  </p>
  <p [@lightSpeedInOnEnter]>
    so that each student is equipped to
    <span class="bold">joyfully glorify God</span> in every aspect of life.
  </p>
</div>
