@import '~@angular/material/_theming';
@import '../../../common';

.vision {
  @extend .primary-font;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @extend .primary-font;
    text-align: center;
    font-size: 42px;
    color: $primary-color;
    font-style: italic;
  }

  logos-accordion {
    @include mat-elevation(2);
    background: #fff;
    display: block;
    border-radius: 20px;
    max-width: 1000px;
    margin-bottom: 50px;
  }

  .accordion-heading {
    color: $primary-color;
    font-weight: 700;
    @extend .primary-font;
    white-space: break-spaces;
    // height: 72px;

    .number {
      @extend .font1-bold;
      margin-right: 8px;
    }
  }

  .accordion-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-device-width: 1300px) {
  .vision {
    h2 {
      font-size: 26px;
      margin-top: -10px;
    }
  }
}
