@import '~@angular/material/_theming';
@import '../../../common';

// :host {
//   display: block;
//   min-height: 100%;
//   width: 100%;
// }

.container {
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // -webkit-background-size: cover !important;
  // -moz-background-size: cover !important;
  // -o-background-size: cover !important;
  // background-size: cover !important;
  overflow: hidden;

  img.splash-image {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0px;
  }

  img.splash-image.vertical {
    height: 100%;
    // width: unset;
    // position: relative;
    // left: unset;
    // top: unset;
    // margin: 0 auto;
    // display: block;
    // min-width: 60%;
  }

  .content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .content.overlay {
    // background: rgba(30, 63, 102, 0.91);
  }

  .sidenav-container {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 111;
    height: 100%;
    background: #fff;
  }

  logos-navbar {
    position: fixed;
    top: 30%;
    left: 0;
    width: 50px;
    z-index: 11;
  }
}

@media only screen and (max-device-width: 1300px) {
  .container {
    img.splash-image {
      width: unset;
      min-width: 100%;
      position: absolute;
      left: 0;
      top: 25%;
      height: 50%;
      min-height: unset;
    }

    img.splash-image.vertical {
      width: 100%;
      position: absolute;
      left: 0;
      top: 60px;
      height: unset;
      min-height: 100%;
    }
  }
}
