<div class="splash-mission" [style.height.px]="contentHeight">
  <!-- <div class="mission-part" [style.top.px]="0" [@fadeInRightBigOnEnter]>
    <p [class.font-effect-3d-float]="!isMobile">
      in faithful submission to
      <span class="bold italic">Scripture</span>
      <span>and</span>
    </p>
  </div>

  <div class="mission-part" [style.top.px]="view1Top" [@fadeInLeftBigOnEnter]>
    <p [class.font-effect-3d-float]="!isMobile">
      with deference to the authority granted therein to
      <span class="bold">parents</span>
      <span class="row"
        >regarding the instruction of their children<span>,</span></span
      >
    </p>
  </div>

  <div class="mission-part" [style.top.px]="view2Top" [@fadeInRightBigOnEnter]>
    <p [class.font-effect-3d-float]="!isMobile">
      provides a
      <span class="bold italic">classical, Christ-centered</span>
      education
    </p>
  </div>

  <div class="mission-part" [style.top.px]="view3Top" [@fadeInRightBigOnEnter]>
    <p [class.font-effect-3d-float]="!isMobile">
      <span>...</span>
      designed to achieve academic
      <span class="bold">excellence</span>
      <span>and</span>
    </p>
  </div>

  <div class="mission-part" [style.top.px]="view4Top" [@fadeInLeftBigOnEnter]>
    <p [class.font-effect-3d-float]="!isMobile">
      <span>...</span>
      instill a life-long <span class="bold">love of learning</span>
    </p>
  </div>

  <div class="mission-part" [style.top.px]="view5Top" [@fadeInRightBigOnEnter]>
    <p [class.font-effect-3d-float]="!isMobile">
      <span>...</span>through enthusiastic affirmation of the
      <span class="bold">Christian worldview</span>
      <span class="row"
        >as the foundation for knowledge, virtue, and beauty<span>,</span></span
      >
    </p>
  </div>

  <div class="mission-part" [style.top.px]="view6Top" [@fadeInLeftBigOnEnter]>
    <p [class.font-effect-3d-float]="!isMobile">
      <span>...</span>
      so that each student is equipped to
      <span class="italic">joyfully</span><span class="bold">glorify God</span>
      <span class="row">in every aspect of life.</span>
    </p>
  </div> -->
  <logos-mission [splash]="true"></logos-mission>
</div>
